table.home {
    width: 100%;
}

td.actions {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

button.login {
    float: right;
}

button.logout {
    float: right;
}

.loading-spinner {
    margin-left: 20px;
    display: inline;
    position: relative;
    top: 5px;
}

.loading-spinner-icon {
    animation-name: spin;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}